Package: localsend-cli
Version: 1.3.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: MeowRain meowrain@126.com
Description: LocalSend CLI - command-line tool for fast file transfer on the local network
 LocalSend is a cross-platform file transfer tool for fast and secure
 file sharing on the local network. This is the command-line version.
Homepage: https://github.com/meowrain/localsend-go 
